@model IEnumerable<Core.Models.Order>
@{
    ViewData["Title"] = "IndexList";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}



<div  class="container p-3" style="margin-top:100px">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-danger">PaymentDetails</h2>
        </div>
    </div>

    <br />

    @if (Model.Count() > 0)
    {
        <div class="text-center jumbotron-fluid">
            <div class="row gy-2">
                @foreach (var item in Model)
                {
                    <div class="col-4 card mt-3">
                        <div class="card-body">
                            <h3 id="foodId" hidden></h3>
                            <h3 id="foodName" style="padding-right:110px;" class=" mb-3 mt-2 "><span style="font-size:30px;font-weight:bold;font-family:monserrat">Name:</span> @item.FoodName</h3>
                            <h3 id="amount" style="padding-right:200px;" class="mb-3"><span style="font-size:30px;font-weight:bold;font-family:monserrat">Price:</span> $@item.Amount</h3>
                            <h3 id="referenceNumber" style="margin-right:10px" class="mb-3"><span style="font-size:30px;font-weight:bold;font-family:monserrat">RefNumber:</span> @item.ReferenceNumber</h3>
                            <h3 id="datecreated" style="margin-right:70px" class="mb-2"><span style="font-size:30px;font-weight:bold;font-family:monserrat">Date Paid:</span> @item.DateCreated.ToString("d")</h3>
                            <h3 id="status" style="margin-right:200px;" class="mb-2"><span style="font-size:30px;font-weight:bold;font-family:monserrat">Status:</span>  @item.status</h3>
                            <h3 id="quantity" style="margin-right:200px;" class="mb-2"><span style="font-size:30px;font-weight:bold;font-family:monserrat">Quantity:</span>  @item.Quantity</h3>
                        </div>
                    </div>
                }
            </div>

        </div>
    }
    else
    {
        <p>No Food Exits</p>
    }
</div>



<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
        min-width:450px;
        margin: auto;
        text-align: center;
        font-family: monserrat;
        margin-top: 30px;
        border-radius: 5rem;
        border: 1px solid red;
    }



</style>

